.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  margin-bottom: 20px;
}
pre{
  white-space: pre-wrap;
}

#main-operator{
  width: 100%;
  padding: 0px 0px;
}

#main-operator .form-group{
  display: inline-block;
  margin-right: 20px;
  margin-bottom:6px;
}

#main-operator .fa.fa-plus{
  padding: 10px;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
}

.close-icon{
  float: left;
  width: auto;
  padding: 7px 10px;
  top: 0px;
  position: relative;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
  height: 38px;
}

nav.fixed-top {
  background-color: #4a2f73 !important;
}

nav.fixed-top a{
  color:#fff !important;
}

.space {

}

.space_sub{
 
}

.hold-details{
  max-width:600px;
}

.custom_model_class .modal-content{
  border-radius:0px;
}

.custom_model_class .modal-body{
  padding: 0px;
  border-radius:0px;
}

.custom_model_header {
  background: #e7e9eb;
  padding: 10px;
}

.custom_model_header button {
  display: inline-block;
  background: #f2f3f4;
  color:#222;
  margin-right:10px;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  border:1px #bec1c6 solid;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.42857;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom_model_footer {
  background: #f7f7f7;
  text-align: center;
  padding: 10px;
}


.custom_model_footer button {
  display: inline-block;
  background: #bec1c6;
  color:#fff;
  margin-right:10px;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  border:1px #bec1c6 solid;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.42857;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom_model_body {
  padding: 10px;
  background: #f7f7f7;
  font-size:13px;
}

.custom_model_body .control_multi_select {
  height: 30px;
}

.custom_model_body .control_multi_select >  div:first-child{
  height: 30px;
  min-height: 30px;
}


.custom_model_body .control_multi_select >  div:first-child > div {
  top: 0px;
  height: 30px;
}

.custom_model_body .close-icon {
  float: left;
  width: auto;
  padding: 6px 10px;
  top: 0px;
  position: relative;
  border-radius: 5px;
  background: #fb7373;
  color: #fff;
  cursor: pointer;
  height: 30px;
}

.custom_radio_button label:last-child{
  padding: 6px 13px;
  border: 5px;
  background-color: #b5dde5;
  border-color: #6abecf;
  color: #1a424b;
  cursor:pointer;
  border-radius:5px;
  margin-bottom: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.custom_radio_button label input {
  display:none;
}

.custom_radio_button label:first-child{
  padding: 6px 13px;
  border: 5px;
  background-color: #fbf1b4;
  border-color: #dfd139;
  color: #29250d;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


.custom_model_body input[type="radio"]:checked+.checked {
  position:absolute;
  display:block !important;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:#00000040;

}

.custom_model_body .custom_radio_button label{
    position:relative;
    overflow:hidden
}

.add_condition {
  background: #207adc;
  color: #fff;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;
}

input.react-autosuggest__input {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight:400;
  padding: 10px 20px;
}

.react-autosuggest__suggestions-container {
  max-width: 300px;
  background:rgba(204, 204, 204, 0.4392156862745098);
  border-radius: 5px;
  padding: 0px;
  overflow: hidden;
}

.react-autosuggest__container {
  max-width: 300px;
  display: inline-block;
}

.react-autosuggest__section-title {
  font-size: larger;
  font-style: unset;
  font-family: inherit;
}

ul.react-autosuggest__suggestions-list {
  color: #222;
  padding: 0px;
  list-style: none;
  font-size: 15px;
  border-bottom: 1px #b3b3b3 dashed;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.react-autosuggest__section-title{
  background:#e9e9e9;
    padding: 5px 10px;
    line-height: 1;
}

ul.react-autosuggest__suggestions-list  li:hover{
  background:#dadada;
}

ul.react-autosuggest__suggestions-list li{
  padding:5px 10px ;
}

ul.react-autosuggest__suggestions-list{
  margin-bottom:0px;
  padding-bottom: 0px;
}